.header {
  width: 700px;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  h1 {
    flex-grow: 1;
    text-align: center;
  }
  &__list {
    flex-grow: 2;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    li {
      font-size: 24px;
      line-height: 65px;
      color: #00a379;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}